@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body{
	overflow: hidden;
	padding:0;
	margin:0;
	background-color:#0e1113;
	color:white;
	font-family:'DM Mono',monospace;
	text-align:center;
}
.main{
	margin-top: 5px;
	width: 60%;
	position: absolute;
}
.main-card{
/*	border-style: inset;
	border-radius: 2px;
	width: 50%;*/
	margin-top: 40px;
	float:left;
	display: flex;
	width: 60%;
	flex-direction: row;
}

.name-rank {
	border: 8px solid red;
	background-color: purple;
	font-weight: 150%;
	border-radius: 25px;
	width: 80%;
}

#url{
	align-content: center;
	vertical-align: middle;
	width: 39%;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#enemy_url{
	width: 50%;
}
.enemy{
	float: right;
	width: 39%;
	height: 50%;
}
/*.row1{
	border-bottom: solid;
	border-right: solid;
	width: 59%;
	float: left;
}
.row2{
	border-bottom: solid;
	width:39%;
	float: right;
}*/
/*.rowa{
	width:59%;
	float:left;
}
.rowb{
	width:39%;
	float:right;
}*/

.attributes {
	display: grid;
	grid-template-columns: 30% 30% 30%;
}

button {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 40px;
	height: 45px;
	width: 95px;
	color: white;
	background-color: red;
}

.rowa > button {
	background-color: blue;
}

h2{
	color:#b8c9d2;
}
p{color:#a3c070;
}
/* h1{ */
/* 	margin-top:0px; */
/* 	color:green; */
/* 	width:20%; */
/* 	height:50px; */
/* 	position:relative; */
/* 	margin:auto; */
/* 	background-color:lightgrey; */
/* 	border-radius:5px; */
/* } */

.card-list{
	position: absolute;
	bottom:0px;
	left:0px;
	display:flex;
	padding:3rem;
	overflow-x:hidden;
}
.card{
	display:flex;
	position:relative;
	flex-direction:column;
	height:50%;
	width:25%;
	padding:0.5rem;

	border-radius:16px;
	background:#202528;
	box-shadow: -1rem 0 3rem #000;
	transition:.2s;
}
.card-list::-webkit-scrollbar{
	width:10px;
	height:10px;
}
.card-list::-webkit-scrollbar-thumb{
	background:grey;/*#201c29;*/
	border-radius:10px;
	/* box-shadow:inlet 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25); */
}
.card-list::-webkit-scrollbar-track{
	background:linear-gradient(90deg,#201c29,#201c29,1px,#17141d 0,#17141d);
}
.card:hover{
	transform:translateY(-1rem);
	cursor: pointer;
}
.card:hover~.card{
	transform:translateX(130px);
}

.card:not(:first-child){
	margin-left:-130px;
}
img{
	width: 50%;
}
