@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

html,body{
	height: 100%;
	overflow: hidden;
	background-color:#080909;
	color:#c9d7d6;
	font-family:'DM Mono',monospace;
	text-align:center;
}
.complete{
	height: 100%;
	display: grid;
	grid-template-columns: 20% 20% 30% 30%;
	grid-template-rows: 10% 30% 20% 40%;
	grid-gap: 10px;
}
.name-rank {
	display: table-cell;
	verticle-align: middle;
	grid-row: 2 / 3;
	width: 100%;
	background-color: #181b1c;
	border-radius: 10px;
}
#url{
	align-content: center;
	vertical-align: middle;
	grid-row: 1 / 4;
	width: 100%;
	/* -webkit-transform: scaleX(-1); */
	/* transform: scaleX(-1); */
}

#usr{
	grid-row: 3 / 4;
	grid-column: 1 / 3;
}

#enemy_url{
	width: 70%;
}
.enemy{
	float: right;
	width: 100%;
	grid-column: 4 / -1;
}

.attributes {
	display: grid;
	grid-template-columns: auto auto;
	grid-row: 2 / 3;
	grid-column: 2 / 3;;
}

button {
	height:33%;
	width:100%;
	color: white;
	background-color: #59987e;
	border-radius: 10px;
}
.rowa > button {
	float: right;
	background-color: #a9b46f;
}

h2{
	color:#b8c9d2;
}
p{color:#a7b4b8;
}

.card-list{
	display:flex;
	width: 100%;
	grid-column: 1 / 5;
	grid-row: 4 / 5;
	padding:1rem;
	overflow-x:hidden;
}
.card{
	display:flex;
	position:relative;
	flex-direction:column;
	height:80%;
	width:25%;
	padding:0.5rem;
	border-radius:16px;
	background:#202528;
	box-shadow: -1rem 0 3rem #000;
	transition:.2s;
}
.card-list::-webkit-scrollbar{
	width:10px;
	height:10px;
}
.card-list::-webkit-scrollbar-thumb{
	background:grey;/*#201c29;*/
	border-radius:10px;
	/* box-shadow:inlet 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25); */
}
.card-list::-webkit-scrollbar-track{
	background:linear-gradient(90deg,#201c29,#201c29,1px,#17141d 0,#17141d);
}
.card:hover{
	transform:translateY(-1rem);
	cursor: pointer;
}
.card:hover~.card{
	transform:translateX(130px);
}

.card:not(:first-child){
	margin-left:-130px;
}
img{
	width: 50%;
}
