{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport",content="width=device-width,initial-scale=1">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">

	</head>
	<body>
		<section class="main">
			<div class="main-card" id="maincard">
				<div class="name-rank">
					<div class="row1">
						<p>Name:<span id="name">Pokemon</span></p>
						<p>Rank:<span id="rank">0</span></p>
					</div>
					<div class="row2">
						<p>Height:<span id="height">0</span></p>
						<p>Weight:<span id="weight">0</span></p>
					</div>
				</div>
				<div class="attributes">
					<div class="rowa">
						<p onClick="compare(this,hp)">HP:<span id="hp">0</span></p>
						<p onClick="compare(this,attack)">Attack:<span id="attack">0</span></p>
						<p onClick="compare(this,defense)">Defense:<span id="defense">0</span></p>
					</div>
					<div class="rowb">
						<p onClick="compare(this,speed)">Speed:<span id="speed">0</span></p>
						<p onClick="compare(this,sattack)">Special Attack:<span id="sattack">0</span></p>
						<p onClick="compare(this,sdefense)">Special Defense:<span id="sdefense">0</span></p>
					</div>
				</div>
			</div>
			<img src="static/img/pokeball.png" id="url"/>
		</section>
			<img src="static/img/pokeball.png" id="enemy_url"/>
		<section class="card-list">
			{% for i in list%}
			<div class="card" id="{{i.rank}}" onclick="refresh(this.id)">
				<div class="card-author">
					<a href="#" class="author-avatar">
						<img src={{i.url}}></a>
				</div>
				<header class="card-header">
					<h2 id="name">{{i.name}}</h2>
					<p>Rank:{{i.rank}}</p>
				</header>
			</div>
			{%endfor%}
		</section>

		<script type="text/javascript">
			var list = {{list_json|safe}};
			// selectItems
			let name = document.getElementById("name");
			let rank = document.getElementById("rank");
			let height = document.getElementById("height");
			let weight = document.getElementById("weight");
			let hp = document.getElementById("hp");
			let attack = document.getElementById("attack");
			let defense = document.getElementById("defense");
			let sattack = document.getElementById("sattack");
			let sdefense = document.getElementById("sdefense");
			let speed = document.getElementById("speed");
			let url = document.getElementById("url");
			let card = document.querySelector(".card-header");
			function refresh(id){
				for(i=0;i<=20;i++){
					if (list[i][0]==id){
						name.textContent=list[i][1];
						rank.textContent=list[i][0];
						height.textContent=list[i][2];
						weight.textContent=list[i][3];
						hp.textContent=list[i][4];
						attack.textContent=list[i][5];
						defense.textContent=list[i][6];
						sattack.textContent=list[i][7];
						sdefense.textContent=list[i][8];
						speed.textContent=list[i][9];
						url.src =list[i][10];
					}
				}
			}
		</script>
	</body>
</html>
