
{% load static %}


<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/login.css">
		<!-- <script src="login.js"></script> -->
	</head>
	<body>
		{% block content %}
			<div class="mainlayer">
				<h1>Welcome!</h1>
				<form method="post">
					{% csrf_token %}
					<label for="username">Username: </label>
					<input type="text" name="username" value="" />
					<label for="password">Password: </label>
					<input type="password" name="password" value="" />
					<button type="submit">Log In</button>
				</form>
			</div>
		{% endblock %}
	</body>
</html>
