<!doctype html>
{% load static %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Result</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        {%block content%}
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <img src= "https://vignette4.wikia.nocookie.net/epicrapbattlesofhistory/images/c/ce/Pikachu_dancing.gif/revision/latest?cb=20150304021002"
             width="250"
             alt="404 image"/>
        <h1>You Won!!</h1>

        {%endblock%}
    </body>
</html>
